//!Main slaid and wrapper Styles ==========================================================
.products-slider {
  &__header {
    font-size: toRem(30);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: em(30, 200);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 20);
    }
  }
  &__slider {
    padding: toRem(15);
    margin: 0px toRem(-15);
  }
  &__slide {
    padding-right: toRem(20);
  }
}

//!Error Styles(Prod. not found) ==========================================================
.swiper {
  &__error {
    font-size: toRem(30);
    color: #91a832;
  }
  &__error-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
//!Product Card main page Styles ==========================================================
.products-card {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid #ced6af;
  margin-bottom: toRem(60);
  height: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
    }
  }
  // .products-card__body

  &__body {
    padding: toRem(30);
  }

  // .products-card__rating

  &__rating {
  }

  // .products-card__title

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: toRem(30);
    line-height: math.div(25, 18);
    letter-spacing: em(18, 150);
    @include adaptiveValue("font-size", 18, 14);
    @include adaptiveValue("margin-bottom", 30, 0);
  }

  // .products-card__link-title

  &__link-title {
  }

  // .products-card__image-ibg

  &__image-ibg {
    padding-bottom: percent(69, 206);
    //
    // .products-card__image-ibg_contain

    &_contain {
    }
  }

  // .products-card__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;

    flex-wrap: wrap;
    @include adaptiveValue("margin-top", 60, 20);
  }

  // .products-card__price

  &__price {
    flex-wrap: wrap;
    flex: 1 1 auto;
    font-size: toRem(18);
    text-transform: uppercase;
    line-height: math.div(18, 75);
    text-align: left;
    margin-left: toRem(30);
    letter-spacing: em(18, 150);
    @media (max-width: em(1275)) {
      text-align: center;
      justify-content: center;
      align-items: center;
      line-height: math.div(18, 10);
      margin-left: toRem(0);
    }
    @include adaptiveValue("font-size", 18, 16);
  }

  // .products-card__cart

  &__shop {
    background-color: #6e774a;

    @include adaptiveValue("padding-top", 30, 10);
    @include adaptiveValue("padding-bottom", 30, 10);
    @media (max-width: em(1275)) {
      width: 100%;
    }
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #4e5534;
      }
    }

    span {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: toRem(40);

      font-size: toRem(20);
      color: #fff;
      text-transform: uppercase;
      @media (max-width: em(1275)) {
        align-items: center;
        justify-content: center;
        padding-left: toRem(0);
      }

      &::after {
        content: "";
        background-color: #fff;
        width: toRem(45);
        height: toRem(2);
        margin-left: toRem(20);
        margin-right: toRem(40);
        @media (max-width: em(1275)) {
          display: none;
        }
      }
    }
  }
}
//!Counter Styles ==========================================================
.items {
  font-family: "Merriweather", serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: toRem(18);
  height: 30px;
  overflow: hidden;
  text-align: center !important;
  margin: 0 auto;
  margin-top: toRem(20);

  // .items__control

  &__control {
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
    padding-top: toRem(5);
    @media (any-hover: hover) {
      &:hover {
        background: rgb(80, 138, 5);
        color: #fff;
      }
    }
  }

  // .items__current

  &__current {
    width: 40px;
    padding-top: toRem(5);
  }
}

//!Swiper buttons Styles ===================================================
.swiper-button {
  // .swiper-button__box

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: toRem(60);
    @include adaptiveValue("margin-top", 60, 40);
  }
}
.swiper-button-prev {
  // .swiper-button-prev_icon

  &_icon {
    transition: all 0.3s;
    width: toRem(40);
    height: toRem(20);
    fill: #778055;
    @media (any-hover: hover) {
      &:hover {
        fill: #076423;
      }
    }
  }
}

//!Hide Element Style ===================================================
.hide {
  display: none;
}
.dollar {
  color: #076423;
  margin-left: toRem(-20);
}
